<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CompileFolder</key>
	<string>/Users/sam/Desktop</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>4</integer>
		<key>Title</key>
		<string>Screenplay</string>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 817}}</string>
		<string>{{176, 0}, {1034, 817}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>3C57A925-E91E-4D5D-A1D6-F16A2F7A3D35</string>
		<string>6EE00691-B91E-46AB-A1D8-9145E3AC0E7E</string>
		<string>56F3251B-33DB-489A-8F16-B05AE53D648A</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>01CAC4D9-0749-45BE-8D5C-15AF12886D91</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>04FC7F27-5318-4420-85E6-B02CFFEC3B77</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>066ABD97-1528-4816-AEA9-A1EB3A12E784</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>06C48358-7DB0-4DC4-B076-EBA15D01FF32</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>07CF87E8-8EBD-4AF6-81F0-02EB58ED1584</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>095E97C2-0222-48EB-920D-6AA5D9787DBE</key>
		<dict>
			<key>DocID</key>
			<string>5D01B960-E88B-41E0-BE9C-ADD7133FF134</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>0B096BA1-BD6A-4B11-9A06-EF7B0CD960D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B19D630-7D8D-4209-9D3D-205B3441842A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B7B17C4-018E-4FC6-A110-19E0655EBC54</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B8B95E1-23BD-47BE-B12F-6ABCCDE34940</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0CC4111C-7FC9-46BA-8680-0DE034DA09BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0D560FA2-6AD5-45F6-848A-928FD1EC1172</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0D5ADFB1-2B97-4E08-A1B9-B1D5D676F54B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>189CE60D-6688-4D65-8683-A211F60CF740</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1938150C-AE2B-449D-877D-7562C3A19ED3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1CFF7C40-5E1B-41C6-A639-083ADD6D2109</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1F2616B2-08DD-44E5-A40A-6DF8EC31A2C6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>21265C1A-AA99-44BA-84C7-08F05AB6356F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>22C7A6AC-822F-4AB7-A040-B0039EAC22E0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>26CF3935-7390-475A-95C6-30762B0C6DBB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>287042F9-6298-46C2-A772-49BF684B4484</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C62036E-5DCA-43CB-A87F-EF722AFC8BA8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2EAF0270-E6E0-44E5-A1CA-2FC8C6B9AE69</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2F62AA69-011D-4E8D-BBD4-AE28E663C5FB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2FDCBA14-4445-48E0-BF59-C0A4DE3BC46D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>31DADEBD-AFFF-4230-9EF7-9DB67DA6B668</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3544F9B7-6401-4963-8960-53F6921DFDC4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>355168CC-4383-4C44-BB0C-FD00C5ED9686</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>360A67C4-9B57-4004-9572-0131CB485835</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>38817DDB-B60B-4E86-A067-57EFCB6BB390</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>38DD2931-EA09-44D0-A48A-847ED1A11FB3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>39007539-933D-4C70-AFA7-80C46DEE7DD7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3B85E9CD-0407-4D4B-8CF4-C02C87C8F9B5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3DD01754-5E9C-425F-A7EE-9040BC168AA6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4066EB37-FC50-4357-AB66-D61FB41DCA8C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>43533C4E-F9CF-4CA7-81DA-E0512299A95D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4AB3BC7C-97D3-42A0-995C-D04BAAB27D92</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4B940A2E-38B1-4587-ABF2-4925062B03F4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4BC5A8B2-ECF0-4276-95B8-180491ED1288</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4CE87667-6228-4C7B-BF06-89444FF9AAB2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5C3323D1-35CC-4199-9777-C3828CF63AF9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5D01B960-E88B-41E0-BE9C-ADD7133FF134</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5F05C250-9576-48A7-9A0F-54C064B50198</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>605D3B77-8091-4AA9-A2EB-6059FC83D242</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>60BEFF3B-B66C-4CD8-891A-36496EE6D71F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A73CAF9-45F2-4396-91A1-8A3197BF03A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>74B42465-7C80-4D53-8F60-EBAE2F966825</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>76C3A7C2-03D8-45EB-AD7E-087D52D5337A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B5EDD45-0861-4822-A106-979663576E3D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F2D6008-D815-425D-9DC9-767F0CCEE8C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F9A78B8-9F95-4F95-9452-72A3FEE95470</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7FC829A2-1581-4589-A568-5113E351B83E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80AABD16-2804-496F-B32B-8C28C52153AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>82048B5D-6320-4CB9-88B2-5E7ED2B4F794</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8BAB6E1A-6BB6-47B8-AA10-CA923AEC191E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>94C02A06-5D62-499C-A4F9-1CB9B969D187</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>969CFF6F-F8BF-416D-965E-41CA32D48BD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>971CB1FF-46E4-47C2-8138-E8D80280DDC2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>97C771CD-2D81-4DE1-A036-BE346277A1D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>990348FE-6DF4-49BB-8434-138AC5E35F8D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C83B8CC-A802-4AE8-B3AE-38CD6B7FF1ED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9DB7690A-1ACE-412E-9DF1-A30B84A0E5C5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A09BCFBD-40FC-4DDC-B110-7CA05415DA22</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A61E50B4-C1A4-4CFA-8DFC-CCB1CDD12EA2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ACAA6E8E-5BEC-48AB-8798-741B69A2CCFC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B1CE40FB-1DF3-415A-B9B5-DE4705AD4BFB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3A61912-396A-48EF-B363-261D60518D55</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3C584FF-E5EF-4736-A7F4-F64271D8D7D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B4AE6F84-D6F7-4AE9-9C0E-FCB1D4A148F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B74AC7B2-1E12-49DC-9C74-70169E6B1F31</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C44CD7E8-6BDB-49A2-A51D-C6C4E69872BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CB75DC3E-9E47-47AE-A106-6257847586F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CB8C245B-DCB2-4148-A516-BD3CAD610C18</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CE45F47C-6D5C-4BA5-80D7-8CE64157EAB5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D46E5E47-2E9D-43FF-A36E-9960CD98A503</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D657596D-9C36-412A-9982-EA605B36CC19</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D6BEA141-647C-4319-AC02-D11A76A6E103</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E73CBBCA-0002-4050-BACB-C66C3DA2B89F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E867A1C8-165E-49C2-94A3-EEFF337BA7F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA5D4F73-AD62-4777-A33C-458362A30C3D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EADA2532-CF68-4FC1-8476-2EFA740FA846</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ECC422D0-74ED-482F-9498-17884A55D961</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF93B95B-FE12-4EBC-BAA1-7262B9EC23ED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F28D7749-A55D-45C7-81A2-DB7D153344C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F644FF95-8289-4698-BF8E-871AF6074B5E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD372C7E-4567-4D71-BCC2-F723ECC4D978</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>120.5</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 120.5}}</string>
		<string>{{0, 121.5}, {175, 816.5}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<false/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{694, 0}, {642, 853}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>exportFilesFormat</key>
	<integer>6</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {302, 807}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>4BC5A8B2-ECF0-4276-95B8-180491ED1288</string>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 731}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>1</integer>
	<key>mainWindowFrame</key>
	<string>17 99 1210 845 0 0 1512 944 </string>
	<key>pageSizeOption</key>
	<integer>0</integer>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
